.logon-container {
  width: 100%;
  /* Largura máxima do elemento */
  max-width: 1120px;
  /* VH = View Height */
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  /* Esse flex direction fala se os itens deve ficar na horizontal ou na vertical */
  /* flex-direction: column; */
  justify-content: space-between;
}

/* Pega a section dentro do logon-container que contém a classe form */
.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 100px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

